.shimmer{
    height: 400px;
    width: 290px ;
    border-radius:7px;
    --divcolor:#242121;
    --paraColor:#ccc;
    background-color: var(--divcolor);
}
.cont-img-shimmer{
    max-width: 301px;
    height: 200px;
    background-color: var(--paraColor);
    border-radius: 7px 7px 0 0px;

}
.cont-text-shimmer{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    padding: 0 10px;
}
.para{
    
  padding-right: 10px;
    margin-top: 15px;
    height: 25px;
    width: 70%;
    background-color: var(--paraColor);
    border-radius: 5px;
}
.para1{
    
  padding-right: 10px;
    margin-top: 15px;
    margin-bottom: 20px;
    height: 25px;
    width: 100%;
    background-color: var(--paraColor);
    border-radius: 5px;
}